# Configuration du serveur
PORT=5000
NODE_ENV=development

# Configuration de la base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=Sophie
DB_PASSWORD=4321567Sl.8992
DB_NAME=pets_care

# Configuration JWT pour l'authentification
JWT_SECRET=X9f$mK2#pQ7zL4@jN6&wR3!bT5^hS8*
JWT_EXPIRATION=24h

# Configuration de l'email (pour les rappels)
EMAIL_HOST=sophiezhu.pro@gmail.com
EMAIL_PORT=587
EMAIL_USER=sophiezhu1551@gmail.com
EMAIL_PASS=@ZhuSophie1976

# Paramètres de sécurité
CORS_ORIGIN=http://localhost:3000